<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />
    <title>Learninja</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700|Istok+Web:400,700" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css" />

	<link rel="stylesheet" href="{{ url_for('static', filename='css/dark.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-icons.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}" type="text/css" />

	<link rel="stylesheet" href="{{ url_for('static', filename='css/ion.rangeslider.css')}}" type="text/css" />

	<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}" type ="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css')}}" type="text/css" />

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="css/colors.php?color=44aaac" type="text/css" /> <!-- Theme Color -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css')}}" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/hosting.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}" type="text/css" />

    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
	<script src="{{ url_for('static', filename='js/plugins.js')}}"></script>

	<script src="{{ url_for('static', filename='js/jquery.hotspot.js')}}"></script>
	<script src="{{ url_for('static', filename='js/rangeslider.min.js')}}"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b02df55fb5.js" crossorigin="anonymous"></script>
</head>
<body class = 'stretched'>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Learninja</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="/become-mentor">Become a Mentor</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/student">Browse as Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/learn-more">Learn More</a>
      </li>

    </ul>
    </form>
  </div>
</nav>

{% block content %}
{% endblock %}
</body>
</html>